.vs/RiseUP.slnx/FileContentIndex/d054bea6-cca4-4f35-81ed-5337094a3e6e.vsidx
RiseUP/obj/Debug/net10.0/RiseUP.assets.cache
RiseUP/obj/project.assets.json
RiseUP/obj/project.nuget.cache
RiseUP/obj/RiseUP.csproj.nuget.dgspec.json
RiseUP/obj/RiseUP.csproj.nuget.g.props
RiseUP/obj/RiseUP.csproj.nuget.g.targets
.vs/ProjectEvaluation/riseup.metadata.v10.bin
.vs/ProjectEvaluation/riseup.projects.v10.bin
.vs/ProjectEvaluation/riseup.strings.v10.bin
.vs/RiseUP.slnx/FileContentIndex/18a51281-620e-416a-8de3-dbd8b453c4e4.vsidx
.vs/RiseUP.slnx/DesignTimeBuild/.dtbcache.v2
.vs/RiseUP.slnx/FileContentIndex/6ee1c6e3-b26e-408f-8c46-83adc145106f.vsidx
.vs/RiseUP.slnx/FileContentIndex/c808fbd2-519d-4621-955d-83c96486197f.vsidx
.vs/RiseUP.slnx/FileContentIndex/709e3135-1be4-4dc5-a429-98554016ece8.vsidx
.vs/RiseUP.slnx/FileContentIndex/5bdddae1-e1fd-459b-ac75-2d383aea0dcd.vsidx
