.vs/RiseUP.slnx/FileContentIndex/d054bea6-cca4-4f35-81ed-5337094a3e6e.vsidx
RiseUP/obj/Debug/net10.0/RiseUP.assets.cache
RiseUP/obj/project.assets.json
RiseUP/obj/project.nuget.cache
RiseUP/obj/RiseUP.csproj.nuget.dgspec.json
RiseUP/obj/RiseUP.csproj.nuget.g.props
RiseUP/obj/RiseUP.csproj.nuget.g.targets
